@{
    ViewData["Title"] = "Map";
}

@section Styles {
    <link rel="stylesheet" href="~/css/meeting-rooms-map.css" />
}

<div style="width: 80%; margin: 0 auto;">
    <div class="text-center">
        <h2 class="page-header">Map with meeting rooms</h2>
    </div>
    <div class="param-row">
        <label class="param-label" for="ddFloor">Floor:</label>
        <select class="param-control" id="ddFloor">
            <option value="">Select Floor</option>
            @foreach (var floor in @ViewBag.Floors)
            {
                <option value="@floor">Floor @floor</option>
            }
        </select>

        <label class="param-label" for="txtDay">Date:</label>
        <input class="param-control" type="date" id="txtDay" min="@DateTime.Today.ToString("yyyy-MM-dd")" onkeydown="return false" disabled>

        <label class="param-label" for="ddTimeSlot">Time Slot:</label>
        <select class="param-control" id="ddTimeSlot" disabled>
            <option value="">Select Time Slot</option>
        </select>
    </div>

    <div id="meetingRoomsContainer"></div>

</div>

@section Scripts {
    <script src="~/js/meeting-rooms-map.js" asp-append-version="true"></script>
}