<div style="padding: 20px; height: 250px; text-align: center; display: grid; align-items: center;">
    <h4>
        Your password is reset. Please click <a asp-controller="Home" asp-action="LoginPage">here</a> to login.
    </h4>
</div>
